.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgb(32, 32, 32);
}
.header_left{
    display: flex;
    justify-content: space-evenly;
}
.search_input{
    display: flex;
    align-items: center;
    background-color: #eff2fe;
    padding: 8px;
    margin-left: 10px;
    border-radius: 999px;
}
.search_input > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header_left > img {
    height: 40px;
}

.header_middle{
    display: flex;
    flex: 1;
    justify-content: center;
}

.header_option > .MuiSvgIcon-root {
    color: gray;
}

.header_option--active >.MuiSvgIcon-root {
    color: #2e81f4;
}
.header_option--active{
    border-bottom: 4px solid #2e81f4 ;
}

.header_option:hover > .MuiSvgIcon-root {
    color: #2e81f4;
}

.header_option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header_option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header_info {
    display: flex;
    align-items: center;
}

.header_info > h4 {
    margin-left: 10px;
}

.header_right{
    display: flex;
}