.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;

    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgb(32, 32, 32);
}
.header_left > img {
    height: 40px;
}