.story{
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgb(54, 50, 50);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.story:hover {
    transform: scale(1.07);
}

.story > h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.story > h4 {
}
